<template name="header">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{pathFor 'frontPage'}}" class="brand-logo">{{_ "app_name"}}</a>

      <div class="right">
          <a class="btn-floating btn-large waves-effect waves-light red add-text-button add-text">
            <i class="mdi-content-add"></i>
          </a>
      </div>
    </div>
  </nav> 
</template>


<template name="readerHeader">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{pathFor 'frontPage'}}" class="brand-logo">{{_ "app_name"}}</a>
    </div>
  </nav>
</template>